alembic==1.16.5
asyncpg==0.30.0
celery==5.5.3
fastapi==0.116.1
httpx==0.28.1
mypy==1.17.1
pydantic==2.11.7
pydantic-settings==2.10.1
pytest==8.4.2
pytest-asyncio==1.1.0
redis==6.4.0
ruff==0.12.11
sqlalchemy==2.0.43
uvicorn[standard]==0.35.0
pytest
pytest-asyncio
httpx
minio
pypdf
python-docx
python-multipart==0.0.20
openai
psycopg2-binary
future==0.18.3